<footer class="site-footer">
  <div class="site-footer__inner">

    <div class="site-footer__brand">
      <strong>Sandman Academy</strong>


    </div>

    <div class="site-footer__seal">
      <p data-lang-block="en">
        Built in the Shadows.
      </p>

      <p data-lang-block="es" class="hidden-lang">
        Forjado en las Sombras.
      </p>


            <span data-lang-block="en">
        Combat • Strength • Honor
      </span>

      <span data-lang-block="es" class="hidden-lang">
        Combate • Fuerza • Honor
      </span>



    </div>
            <img
        src="/assets/img/brand/Sandman-Combat-v1.png"
        alt="Sandman Combat house seal"
        class="site-footer__seal-image"
      />


    <div class="site-footer__legal">
      <span>
        &copy; <span data-current-year></span> Sandman Combat.
      </span>

      <span data-lang-block="en">
        All rights reserved.
      </span>

      <span data-lang-block="es" class="hidden-lang">
        Todos los derechos reservados.
      </span>
    </div>

  </div>
</footer>